doctype html
head
	meta(charset="utf-8")
	title 彭智扬 - leon - 个人简历
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href="css/main.css")
	link(rel="stylesheet" href="fontawesome/css/font-awesome.min.css")
body
	//- 
		aside.self-pic
			span
				i.fa.fa-angle-double-down
			figure
				img(src="./images/pic.png")
	aside.infos-extend
		ul
			//- 个人信息扩展
				each tab in extInfos
						li
							i.fa.fa-2x.fa-inverse(class= tab.icon)
							a #{item}
		
			- for (var tab in extInfos)
				li
					i.fa.fa-2x.fa-inverse.fa-fw(class= tab)
					a= extInfos[tab]
	.contanier
		main
			header
				address
					ul
						- for (var item in contactInfos)
							li
								i.fa.fa-inverse.fa-fw(class= item)
								a= contactInfos[item]

				section
					span 彭智扬
					p Web前端工程师

			article.content.row
				article.col-part
					section.education.edu
						.sec-title-wrap
							h2 教育经历
						.sec-timeline-wrap
							each item in eduInfos
								time.edu-time #{item.time}
								dl.edu-college
									dt.edu-college-name #{item.name}
									each prize in item.prizes
										dd!= prize

					section.experience.exp
						.sec-title-wrap
							h2 工作经验
						.sec-timeline-wrap
							each item in workInfos
								.project-item
									h3.time-line
										span.firm-name #{item.firm}
										time.work-time #{item.time}
									dl
										dt #{item.job}
										each desc in item.exp_desc
											dd!= desc

					section.skills
						.sec-title-wrap
							h2 技能树
						.sec-timeline-wrap
							each item in skillInfos
								.skills-item
									dl
										dt #{item.skill_name}
										each desc in item.skill_desc
											dd!= desc
			
			//-
				article.col.col-6.part-two
					section.skills
						.sec-title-wrap
							h2 技能树
						.sec-timeline-wrap
							each item in skillInfos
								.skills-item
									dl
										dt #{item.skill_name}
										each desc in item.skill_desc
											dd!= desc
	footer